* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #000000;
	font-family: "classic-comic";
	font-weight: 400;
}

.logo{
	width: 40%;
	float: left;
}

.logo img{
	width: 70%;
	margin: 20px auto;
	display: block;
}

.title{
	color: white;
	font-size: 77px;
	padding-top: 130px;
}

.description{
	color:white;
	border: 8px solid #ffffff;
}