*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #000000;
	font-family: "classic-comic";
	font-weight: 400;
}

.name{
	background: #fffc00;
	text-align: center;
	margin: 20px auto 0;
	width: 50%;
	padding: 5px;
	font-size: 14px;
}

.title{
	background: #fffc00;
	text-align: center;
	margin: 20px auto 0;
	width: 65%;
	padding: 5px;
	font-size: 14px;
}

.wrapper{
	width: 960px;
	margin: 40px auto;
}

.wrapper img{
	width: 100%;
}

.logo{
	width: 40%;
	float: left;
}

.logo img{
	width: 70%;
	margin: 0 auto;
	display: block;
}

.about{
	width: 60%;
	float: right;
	border: 8px solid #ffffff;
	padding: 40px;
	position: relative;
	background: #000000;
	transition: all 250ms ease-in-out;
}

.about:hover{
	background: rgba(0,108,255,.5);	
}

.about span{
	color: black;
	position: absolute;
	text-align: center;
	top: 90px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 72px;
	text-transform: uppercase;
	font-weight: 700;
}

.resume{
	width: 48%;
	float: left;
	border: 8px solid #ffffff;
	padding: 40px;
	margin-top: 40px;
	position: relative;
	background: #000000;
	transition: all 250ms ease-in-out;

}

.resume:hover{
	background: rgba(255,0,0,.5);
}

.resume span{
	color: black;
	position: absolute;
	text-align: center;
	top: 200px;
	left: 20px;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 42px;
	text-transform: uppercase;
	font-weight: 700;
}

.contact{
	width: 48%;
	float: left;
	margin-top: 30px;
	border: 8px solid #ffffff;
	padding: 40px;
	position: relative;
}

.contact span{
	color: black;
	position: absolute;
	text-align: center;
	top: 170px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 62px;
	text-transform: uppercase;
	font-weight: 700;
}

.works{
	width: 48%;
	float: right;
	margin-top: 40px;
	border: 8px solid #ffffff;
	padding: 40px;
	position: relative;
}

.works span{
	color: black;
	position: absolute;
	text-align: center;
	top: 150px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 72px;
	text-transform: uppercase;
	font-weight: 700;
}