*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #000000;
	font-family: "classic-comic";
	font-weight: 400;
}

a{
	text-decoration: none;
}

.name{
	background: #fffc00;
	text-align: center;
	margin: 20px auto 0;
	width: 50%;
	padding: 5px;
	font-size: 14px;
	color: black;
}

.title{
	background: #fffc00;
	text-align: center;
	margin: 20px auto 0;
	width: 65%;
	padding: 5px;
	font-size: 14px;
	color: black;
}

.wrapper{
	width: 960px;
	margin: 40px auto;
}

.wrapper img{
	width: 100%;
}

.logo{
	width: 40%;
	float: left;
}

.logo img{
	width: 70%;
	margin: 0 auto;
	display: block;
}

/* Logo Invert Link */

.logo img.active{
	display: none;
}

.logo:hover img{
	display: none;
}

.logo:hover img.active{
	display: block;
}

/* End of Logo Invert Link*/

.about{
	width: 60%;
	float: right;
	border: 8px solid #ffffff;
	padding: 40px;
	position: relative;
	background: #000000;
	transition: all 250ms ease-in-out;
}

.about:hover{
	background: rgba(0,108,255,.5);	
}

.about span{
	color: black;
	position: absolute;
	text-align: center;
	top: 90px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 72px;
	text-transform: uppercase;
	font-weight: 700;
}

.resume{
	width: 48%;
	float: left;
	border: 8px solid #ffffff;
	padding: 40px;
	margin-top: 40px;
	position: relative;
	background: #000000;
	transition: all 250ms ease-in-out;

}

.resume:hover{
	background: rgba(255,0,0,.5);
}

.resume span{
	color: black;
	position: absolute;
	text-align: center;
	top: 200px;
	left: 20px;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 42px;
	text-transform: uppercase;
	font-weight: 700;
}

.contact{
	width: 48%;
	float: left;
	margin-top: 30px;
	border: 8px solid #ffffff;
	padding: 40px;
	position: relative;
	background: #000000;
	transition: all 250ms ease-in-out;
}

.contact:hover{
	background: rgba(255,255,255,.3);
}

.contact span{
	color: black;
	position: absolute;
	text-align: center;
	top: 170px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 62px;
	text-transform: uppercase;
	font-weight: 700;
}

.works{
	width: 48%;
	float: right;
	margin-top: 40px;
	border: 8px solid #ffffff;
	padding: 40px;
	position: relative;
	background: #000000;
	transition: all 250ms ease-in-out;
}

.works:hover{
	background: rgba(114,255,0,.5);
}

.works span{
	color: black;
	position: absolute;
	text-align: center;
	top: 150px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 72px;
	text-transform: uppercase;
	font-weight: 700;
}

/* Works Section */

.page-header{
	overflow: auto;
}

.works-header{
	width: 48%;
	float: left;
	margin-left: -70px;
	position: relative;

}

.works-header span{
	color: black;
	position: absolute;
	text-align: center;
	top: 90px;
	left: 30px;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 700;
}


.name{
	background: #fffc00;
	text-align: center;
	margin: 20px auto 0;
	width: 50%;
	padding: 5px;
	font-size: 14px;
}

.title{
	background: #fffc00;
	text-align: center;
	margin: 20px auto 0;
	width: 65%;
	padding: 5px;
	font-size: 14px;
}

.images{
	margin-top: 20px;
}

.images img{
	border: 8px solid #ffffff;
}

/* About Section */

.about-name{
	background: #fffc00;
	text-align: center;
	margin: 20px auto 0;
	width: 50%;
	padding: 5px;
	font-size: 14px;
}

.about-title{
	background: #fffc00;
	text-align: center;
	margin: 20px auto 0;
	width: 65%;
	padding: 5px;
	font-size: 14px;
}

.about-header{
	width: 48%;
	float: left;
	margin-left: -70px;
	position: relative;

}

.about-header span{
	color: black;
	position: absolute;
	text-align: center;
	top: 50px;
	left: 50px;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 700;
}

.logo img.active{
	display: none;
}

.logo:hover img{
	display: none;
}

.logo:hover img.active{
	display: block;
}

a{
	text-decoration: none;
}

.about-header{
	font-size: 14px;
	text-decoration: none;
}

.about-header img{
	margin-left: 30px;
	margin-top: 10px;
}

.about-title{
	font-size: 14px;
	text-decoration: none;
}

.description{
	color: white;
	font-size: 20px;
	padding: 10px;
	margin-top: 400px;
	margin-bottom: 400px;
	text-align: center;
	border: 8px solid #ffffff;
	display: block;
}

.description img{
	width: 40%;
	position: center;
}

/* Resume Section */

.resume-header img{
	margin-top: 10px;
	margin-left: -25px;
	width: 45%;
}

.resume-header span{
	color: black;
	position: absolute;
	text-align: center;
	top: 150px;
	left: 220px;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 700;
}

.resume-box{
	color: white;
	border: 8px solid #ffffff;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 50px;
	padding-right: 50px;
}

.contact-info{
	padding-bottom: 10px;
}

.bio{
	padding-bottom: 10px;
}

.skills{
	padding-bottom: 10px;
}

.anim{
	padding-bottom: 10px;
}

.ae{
	padding-bottom: 10px;
}

.adobe{
	padding-bottom: 10px;
}

.acheive{
	padding-bottom: 10px;
}